// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  transition: background-color 0.4s;
  font-size: 5rem;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-bottom: 7rem;
  background-color: red;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    margin-bottom: 7rem;
  }
}

.toast-container {
  text-align: center;
  border-radius: 5px;
}

#greatJobToast {
  z-index: 2000;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #2d2d30d4;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: auto;
  }
}

#welcomeToast {
  width: 80%;
  position: sticky;
  top: 50%;
  background-color: white;
  color: black;
  font-family: var(--bs-body-font-family);
  font-size: 3.5rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
    font-size: 1.5rem;
  }
}

.h1-board {
  height: 350px;
  background-color: #ffffffe0;
  border: 18px solid #edb227;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: sticky;
  top: 0;

  @include media-breakpoint-up(lg) {
    height: 200px;
  }

  & h1 {
    display: inline-block;
    margin: 2rem 0;
    font-size: 8rem;
    transition: all 0.4s;
    color: #c42ab6;

    @include media-breakpoint-only(lg) {
      font-size: 9rem;

    }

    @include media-breakpoint-up(xl) {
      font-size: 10rem;
    }
  }

  & .board {
    font-size: 5rem;
    color: white;
    width: 50%;
    font-family: 'Shantell Sans', cursive;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url('chalkboard-152414_640.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
      width: 19%;
      font-size: 2rem;
    }
  }
}

.colors {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}

.colors span {
  color: rgba(0, 0, 0, 0.4);
  flex: 1;
  padding: 1rem;
  font-weight: 900;
}

.colors span.dark {
  color: rgba(255, 255, 255, 0.75);
}

@keyframes jump {
  from {
    transform: scale(2.5) rotate(-3deg);
    box-shadow: var(--box-shadow);
  }

  to {
    transform: scale(1) rotate(0);
  }
}

.colors span.got {
  text-decoration: line-through;
  animation: jump 0.2s ease-in-out 2 alternate-reverse;
}

.animate {
  animation: jump 0.2s ease-in-out 2 alternate-reverse;
}

.buttons-wrapper {
  & button {
    border: 3px dotted white;
    border-radius: 5px;

    &:hover {
      border-color: #d1e00d;
    }

    &[disabled] {
      opacity: 0.5;
      border: none;
    }
  }
}