body {
  transition: background-color 0.4s;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-bottom: 7rem;
}

.h1-board {
  height: 200px;
  background-color: #ffffffe0;
  border: 18px solid #edb227;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: sticky;
  top: 0;

  & h1 {
    display: inline-block;
    margin: 2rem 0;
    font-size: 10rem;
    transition: all 0.4s;
    color: #c42ab6;
  }

  & .board {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 19%;
    background-image: url('chalkboard-152414_640.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.colors {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}

.colors span {
  color: rgba(0, 0, 0, 0.4);
  flex: 1;
  padding: 1rem;
  font-weight: 900;
}

.colors span.dark {
  color: rgba(255, 255, 255, 0.75);
}

@keyframes jump {
  from {
    transform: scale(2.5) rotate(-3deg);
    box-shadow: var(--box-shadow);
  }

  to {
    transform: scale(1) rotate(0);
  }
}

.colors span.got {
  text-decoration: line-through;
  animation: jump 0.2s ease-in-out 2 alternate-reverse;
}

.animate {
  animation: jump 0.2s ease-in-out 2 alternate-reverse;
}

.buttons-wrapper {
  & button {
    border: 3px dotted white;
    border-radius: 5px;

    &:hover {
      border-color: #d1e00d;
    }

    &[disabled] {
      opacity: 0.5;
      border: none;
    }
  }
}